.bck-title {
    width: 100%;
    height: 200px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    &::before {
      position: absolute;
      top: 0;
      left: 0;
      content: '';
      width: 100%;
      height: 100%;
      background: no-repeat center/cover url('../assets/cover.jpg');
      opacity: .2;
    }
    h2 {
      position: relative;
      color: $primaryColor;
      font-family: $primaryFont;
    }
  }
