@media only screen and (min-width: 768px) {
    .bck-title {
        height: 350px;
        padding-top: 100px;
    }
    .filters .list-item {
        font-size: 1.2rem;
    }
    .drop-down {
        font-size: .9rem;
    }
}