@media only screen and (min-width: 768px) {
    .question {
        font-size: 1.5rem !important;
    }
    .answer {
        font-size: 1rem !important;
    }.arrow {
        font-size: 1.5rem;
    }
}