//colors
$primaryColor: #f2f2f2;
$secondaryColor: #0f3556;
$secondaryOpacity: #4e6981de;
$thirdColor: #2A96F0;
$fourthColor: #0C151A;
$fifthColor: #101B21;

//fonts
@import url('https://fonts.googleapis.com/css2?family=Play&family=Roboto+Slab:wght@300&display=swap');
$primaryFont: 'Play', sans-serif;
$secondaryFont: 'Roboto Slab', serif;
